.navbar{
    height: 50px;
    background-color: #cc2127;
    display: flex;
    justify-content: center;

}

.navContainer{
    width: 100%;
    
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.logo{
    font-weight: 700;
    margin: 5px;
    padding: 0px 50px 0px 10px;
    margin-right: 20px;
}

.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    margin: 5px;
    color: #003580 ;
    cursor: pointer;
}
